$background-color: #431951;
$primary-text-color: #FCDEC9;
$primary-font-family: 'Montserrat', sans-serif;
$position-absolute-unit: 2vw;

::selection {
  background: $primary-text-color;
}
.bounce-enter-active {
  animation: bounce-in .4s;
}
.bounce-leave-active {
  animation: bounce-in .4s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body {
  overflow: hidden;
  #app {
    height: 100vh;
    background: $background-color center/cover no-repeat fixed;
    transition: background 3s ease-in-out;
    .right {
      text-align: right;
    }
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    #container {
      font-family: $primary-font-family;
      font-weight: 500;
      font-style: normal;
      text-shadow: 3px 3px 1px #272727;
      color: $primary-text-color;
      cursor: default;
      white-space: pre;
      font-size: 3.5vw;
      position: absolute;
      #clock {
        margin-bottom: 1vw;
        letter-spacing: 0.3vw;
      }
      #weather-container {
        margin-bottom: 1vw;
        #weather {
          display: inline;
          margin-left: 1vw;
        }
      }
    }
  }
}
