$background-color: #431951;
$primary-text-color: #FCDEC9;
$primary-font-family: 'Montserrat', sans-serif;

body {
  overflow: hidden;
  #app {
    height: 100vh;
    background: $background-color center/cover no-repeat fixed;
    transition: background .5s ease-in-out;
    #preload-images {
      display: none;
    }
    #container {
      font-family: $primary-font-family;
      font-weight: 600;
      font-style: normal;
      text-align: right;
      text-shadow: 3px 3px 3px #272727;
      color: $primary-text-color;
      animation: slide 1s forwards;
      cursor: default;
      position: absolute;
      right: -100vw; top: 2.5vw;
      #clock {
        font-size: 4vw;
        letter-spacing: 0.3vw;
      }
      #weather {
        font-size: 3vw;
        display: inline;
      }
    }
  }
}
::selection {
  background: $primary-text-color;
}
@keyframes slide {
  100% {
    right: 2.5vw;
  }
}
